<div>
    <div class="js-upload uk-placeholder uk-text-center">
        <span uk-icon="icon: cloud-upload"></span>
        <span class="uk-text-middle">Attach binaries by dropping them here or</span>
        <div uk-form-custom>
            <input type="file" multiple>
            <span class="uk-link">selecting one</span>
        </div>
    </div>
    
    <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
</div>

<div id="image-cropper-modal" class="uk-modal-container" uk-modal >
        <div class="uk-modal-dialog uk-modal-body">
            <!-- <h2 class="uk-modal-title">Image Cropper</h2> -->
            <app-image-cropper></app-image-cropper>
            <button class="uk-modal-close-default" type="button" uk-close></button>
        </div>
</div>
