<div class="uk-container">
    <div class="uk-card uk-card-default uk-width-1-4">
        <div class="">
            <div class="">
                <div class="uk-flex uk-flex-center">
                    <img  class=" profile-img" [attr.src]="data && data.image ? data.image :  'http://placehold.it/128x128'" alt="">
                </div>
                <div class="uk-flex uk-flex-center">
                    <button class="uk-button uk-button-default" uk-toggle="target: #profile-select">Change Image</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="profile-select" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <div class="uk-grid">
            <div class="uk-width-1-2">
                <angular-cropper #angularCropper [cropperOptions]="config" [imageUrl]="data.image"> 
                </angular-cropper> 
            </div>
            <div class="uk-width-1-2">
                <div class="preview"> 
                    <img [attr.src]="data.image"/>
                </div>
            </div>
        </div>
        <button class="uk-modal-close" type="button"></button>
    </div>
</div>